# ==========================
# Node
# ==========================
node_modules/

# ==========================
# Python
# ==========================
venv/
.venv/
__pycache__/
*.pyc

# Generated type-checker output
*.tsbuildinfo

# ==========================
# Environment
# ==========================
.env
.env.local

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/settings.json
